<nav th:fragment="navbar" class="navbar">
    <div class="container nav-container">
        <a th:href="@{/}" class="logo">LensMarket</a>
        <ul class="nav-links">
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li th:if="${session.userId != null}">
                <a th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li th:if="${session.userId != null}">
                <a th:href="@{/offers}">Offers</a>
            </li>
            <li th:if="${session.userId != null}">
                <a th:href="@{/bookings}">Bookings</a>
            </li>
            <li th:if="${session.userId != null}">
                <a th:href="@{/reviews}">Reviews</a>
            </li>
            <li th:if="${session.userId != null}">
                <a th:href="@{/profile}">Profile</a>
            </li>
            <li th:if="${session.userId == null}">
                <a th:href="@{/login}">Login</a>
            </li>
            <li th:if="${session.userId == null}">
                <a th:href="@{/register}">Register</a>
            </li>
            <li th:if="${session.userId != null}">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>