<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head('Register')}"></head>
    <title>Register</title>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<section class="auth-section">
    <div class="auth-card">

        <h2>Create Account</h2>

        <form th:action="@{/register}"
              th:method="post"
              th:object="${userRegisterDTO}">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" id="email" th:field="*{email}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>

            <div class="form-group">
                <label>Role</label>
                <label>
                    <select class="form-control" th:field="*{role}">
                        <option value="">Select Role</option>
                        <option value="CLIENT">Client</option>
                        <option value="PHOTOGRAPHER">Photographer</option>
                    </select>
                </label>
                <small class="error" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></small>
            </div>

            <button class="btn" type="submit">Register</button>

        </form>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>